{% extends 'core/base.html' %}
{% load static %} 
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<section class="order">
    <div class="container">
        <div class="order-details">
            <h2>Order Details</h2>
            <div class="product">
                <div class="order-image">
                    {% if product.get_image %}
                    <img src="{{ product.get_image }}" alt="Product Image" class="order-img"/>
                    {% else %}
                    <p>No image available for this product.</p>
                    {% endif %}
                </div>
                <div class="order-description">
                    <h3>{{ product.name }}</h3>
                    <p>Price: NGN {{ product.price }}</p>
                </div>
            </div>
            <div class="order-form">
                <h3>Place Your Order</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Place Order</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
